<html>
  <head>
    <title>Scraper</title>
    <style>
      div {
       display: flex;
      justify-content: center;
      }
      img {
          border-radius: 20%;
      }
    </style>
  </head>
  <body> 
      <div><h1><%= @title %></h1></div>
      <div><% @my_data.each do |data|  %></div>
      <div><img src="<%= data.image%>"></div>
      <div><h2><%=data.name %></h2></div>
      <div><h3><%=data.title %></h3></div>
      <div><h4><%=data.description %></h4></div>
      <div><p><a href="<%= data.linkedIn_link%>">LinkedIn Account!</a></p></div>
    <% end %>
  </body>
</html>